# node_modules
node_modules/

# any zip files
*.zip

### Data Import ###
dataimport/data/

### Search Requests ###
searchrequest/app/brokenexamples.js
searchrequest/.env

### Terraform ###
# Compiled files
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
.terraform/

# INteliJ stuff
.idea

